@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');
body {
  margin: 0;
  font-family: 'Orbitron', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #534f4c, #d7c0c8);
}
